// Body
$body-bg: #FFF;

// Typography
$color-black: rgba(0,0,0);
$color-half-black:  rgba(0, 0, 0, 0.5);
$color-black-06:  rgba(0, 0, 0, 0.6);
$color-black-08:  rgba(0, 0, 0, 0.8);
$color-white: #FFFFFF;
$color-white-05: rgba(255, 255, 255, 0.5);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-00: rgba(255, 255, 255, 0);
$color-light-gray: #d0d0d0;
$color-orange: rgba(198, 125, 58, 1);

// kolor czerwony-bordowy
$color-red: rgba(202, 4, 5, 1);
$color-primary: rgba(202, 4, 5, 1);
$main_color: #003260;
$secondary_color: #00B3BA;
//czerwony mediacyfrowe
$color-media-red: #D30140;
